asgiref
blinker==1.4
brotlipy==0.7.0
certifi==2020.6.20
cffi 
chardet 
click==7.1.2
cryptography 
dj-database-url==0.5.0
Django 
django-cors-headers==3.5.0
django-heroku==0.3.1
djangorestframework==3.11.1
drf-jwt==1.17.1
gunicorn==20.0.4
idna
oauthlib==3.0.1
psycopg2 
pycparser
PyJWT==1.7.1
pyOpenSSL==19.1.0
PySocks==1.7.1
python-dotenv 
pytz==2020.1
requests 
requests-oauthlib 
six 
sqlparse==0.3.1
tweepy 
urllib3 
whitenoise==4.1.4
